/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	min-height: 100%;
	position: relative;
	font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

body {
	overflow: auto;
	background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: repeat-y;
	background-attachment: fixed;
}

header {
	background-color: #E54E79;
	position: fixed;
	height: 80px;
	width: 100%;
	box-shadow: 0px 4px 16px 0px rgba(50, 50, 50, 0.75);
	z-index: 1;
}

button {
	padding: 10px 20px;
	border-style: none;
	border-width: 0px;
	border-color: transparent;
	border-radius: 15px;
	background-color: #00B2A9;
	color: white;
	cursor: pointer;
	cursor: hand;
	box-shadow: 0px 2px 16px -2px rgba(50, 50, 50, 0.75);
}

button:hover {
	box-shadow: 0px 4px 16px -2px rgba(50, 50, 50, 0.75);
}


.container {
	height: 100%;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

#logo-link img {
	height: 100%;
	padding: 10px;
}

#nav-menu {
	float: right;
	height: 100%;
}

#nav-menu li {
	display: inline-block;
	text-decoration: none;
	height: 100%;
	line-height: 80px;
	vertical-align: middle;
	text-align: center;
}

#nav-menu li a {
	display: inline-block;
	height: 100%;
	padding: 0 20px;
	color: white;
	text-decoration: none;
}

#nav-menu li a:hover {
	background-color: #E56385;
}

#boxright {
	background-color: #EDE9E2;
	padding: 60px 30px;
	margin: 240px 0 160px;
	float: right;
}

#boxright h2 {
	color: #00B2A9;
	font-weight: bolder;
}

#boxright h5 {
	color: #75726C;
}

#boxright #become {
	background-color: #E54E79;
}

.heart::before {
	content: '\2764';
	font-size: 1.25em;
	font-weight: bold;
}

#contenido {
	display: block;
	background-color: #00B2A9;
	width: 100%;
	clear: both;
	overflow: auto;
}

#contenido h1 {
	background-color: #EDE9E2;
	margin: 50px 0;
	color: #75726C;
	text-align: center;
}

#formulario {
	background-color: #EDE9E2;
	padding: 40px 20px;
	margin: 30px 0;
}

#formulario table {
	width: 100%;
	border-collapse: collapse;
}

#formulario table td i {
	margin-bottom: 40px;
}

#start {
	width: 100%;
}

#formulario table td.virgen {
	background-color: #75726C;
	padding: 20px;
}

#formulario table td.visitado {
	background-color: #E54E79;
	padding: 20px;
}

#formulario table td.auto {
	background-color: #E56385;
	background-image: url('../img/car.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
}

footer {
	background-color: #75726C;
	padding: 30px 0;
	width: 100%;
	text-align: right;

}

footer ul {

}

footer ul li {
	display: inline-block;
}

footer img {
	height: 40px;
}

footer img.radius {
	border-radius: .5em;
}











/*MATERIAL INPUT*/
.group { 
  position:relative; 
  margin-bottom:45px; 
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: transparent;
}

input:focus { 
	outline:none; 
}

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
	position:relative; display:block; width:100%; 
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  	to 	{ width:0; background:transparent; }
}

footer {

}